.abc{
    background-color: rgb(160, 253, 123);
    color: blueviolet;
}
.col1{
    flex:content !important;
    width: 100% !important;
    height: 100% !important;
  }
  .row-1{
    display: flex;
    width: 98%;
    background-color: aqua;
    width:100%;
    height: 25rem;
    }
  .col-sm-3{
      background-color: blue;
  }
  .row{
      height: 100%;
      padding: 0px;
  }
  .col-3{
      background-color: coral;
  }